Anatel.Portabilidade/Inovix.Service.Console/Service References/KgbService/KgbService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="KgbService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:32153/KgbService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:32153/KgbService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:32153/KgbService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common.Contracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IKgbService_GetCustomerByCPF_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByCPF" />
  </wsdl:message>
  <wsdl:message name="IKgbService_GetCustomerByCPF_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByCPFResponse" />
  </wsdl:message>
  <wsdl:message name="IKgbService_ObterStatusFinanceiroCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterStatusFinanceiroCliente" />
  </wsdl:message>
  <wsdl:message name="IKgbService_ObterStatusFinanceiroCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterStatusFinanceiroClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IKgbService_ObterDadosConta_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterDadosConta" />
  </wsdl:message>
  <wsdl:message name="IKgbService_ObterDadosConta_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterDadosContaResponse" />
  </wsdl:message>
  <wsdl:portType name="IKgbService">
    <wsdl:operation name="GetCustomerByCPF">
      <wsdl:input wsaw:Action="http://tempuri.org/IKgbService/GetCustomerByCPF" message="tns:IKgbService_GetCustomerByCPF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKgbService/GetCustomerByCPFResponse" message="tns:IKgbService_GetCustomerByCPF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterStatusFinanceiroCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IKgbService/ObterStatusFinanceiroCliente" message="tns:IKgbService_ObterStatusFinanceiroCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKgbService/ObterStatusFinanceiroClienteResponse" message="tns:IKgbService_ObterStatusFinanceiroCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterDadosConta">
      <wsdl:input wsaw:Action="http://tempuri.org/IKgbService/ObterDadosConta" message="tns:IKgbService_ObterDadosConta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKgbService/ObterDadosContaResponse" message="tns:IKgbService_ObterDadosConta_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IKgbService" type="tns:IKgbService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCustomerByCPF">
      <soap:operation soapAction="http://tempuri.org/IKgbService/GetCustomerByCPF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterStatusFinanceiroCliente">
      <soap:operation soapAction="http://tempuri.org/IKgbService/ObterStatusFinanceiroCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterDadosConta">
      <soap:operation soapAction="http://tempuri.org/IKgbService/ObterDadosConta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KgbService">
    <wsdl:port name="BasicHttpBinding_IKgbService" binding="tns:BasicHttpBinding_IKgbService">
      <soap:address location="http://localhost:32153/KgbService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>